body {
    background-color: #202023;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    text-align: center;
}

.nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.hero-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.hero-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.hero-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 207px;
    height: 57px;
    background: #B47B48;
    border-radius: 17px;
    border: #B47B48;
}

.hero-cards-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.hero-clas-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.hero-card-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 79px;
    height: 34px;
    background: #C85312;
    border: #C85312;
}

.menu-cards-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25.92px;
    line-height: 31px;
    color: #FFFFFF;
}

.menu-cards-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25.92px;
    line-height: 31px;
    color: #FFFFFF;
    width: 160px;
    height: 41px;
    background: #B47B48;
    border-radius: 17px;
    border: #B47B48;
}

.qual-title {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.qual-card-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.about-title {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    color: #D9D9D9;

}

.about-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.Where {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;

}

.how {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;

}

.footer-contact-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.when {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;

}

.footer-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

}

.footer-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;

}

.footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.footer-block-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

}

.footer-discription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

