body {
    background-color: #202023;
    font-family: 'Inter';
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    text-align: center;
}

.nav-link {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

.hero-title {
    font-weight: 200;
    font-size: 70px;
    line-height: 1.2;
    color: #FFFFFF;
}

.hero-card-img {
    width: 193px;
    height: 193px;
}

.hero-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.19;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
    width: 207px;
    height: 57px;
    background: #B47B48;
    border-radius: 17px;
    border: #B47B48;
}

.hero-cards-title {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

.hero-clas-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
}

.hero-card-button {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    width: 79px;
    height: 34px;
    background: #C85312;
    border: #C85312;
}

.menu-cards-text {
    font-weight: 800;
    font-size: 25.92px;
    line-height: 1.19;
    color: #FFFFFF;
}

.menu-cards-img {
    width: 294px;
    height: 184.39px;
} 

.menu-cards-button {
    font-weight: 800;
    font-size: 25.92px;
    line-height: 1.19;
    color: #FFFFFF;
    width: 160px;
    height: 41px;
    background: #B47B48;
    border-radius: 17px;
    border: #B47B48;
}

.rezept-title {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.17;
    color: #FFFFFF;
}

.rezept-img {
    width: 356px;
    height: 223px;
}

.rezept-card-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.12;
    color: #FFFFFF;
}

.about-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.19;
    color: #D9D9D9;

}

.about-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;
}

.about-img {
    width: 218px;
    height: 183px;
}

.Where {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.19;
    color: #FFFFFF;

}

.how {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    color: #FFFFFF;

}

.footer-contact-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.21;
    color: #FFFFFF;

}

.when {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.21;
    color: #FFFFFF;

}

.footer-time {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;

}

.footer-title {
    font-weight: 200;
    font-size: 40px;
    line-height: 1.2;
    color: #FFFFFF;

}

.footer-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;

}

.footer-adress-img {
    width: 535px;
    height: 487px;
}

.footer-block-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;

}

.footer-discription {
    font-weight: 100;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;

}

.footer-block {
    display: flex;
}

.b2block-footer {
    display: flex;
}

.footer-2block1 p,a {
    display: block;
}

.footer-block-list {
    display: flex;
}


